xml/resourceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="resource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Title" type="xs:string" />
				<xs:element name="Id" type="xs:int" />
				<xs:element name="Content" type="xs:string" />
				<xs:element name="timestamp" type="xs:float" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>